<h1>Camisetas Disponbles</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Seleccion</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="arg.image" [alt]="arg.Seleccion"/></td>
            <td>{{arg.Seleccion}}</td>
            <td>{{arg.Marca}}</td>
            <td>{{arg.Precio}}</td>
            <td>{{arg.Stock}}</td>
        </tr>
        <tr>
            <td><img [src]="fra.image" [alt]="fra.Seleccion"/></td>
            <td>{{fra.Seleccion}}</td>
            <td>{{fra.Marca}}</td>
            <td>{{fra.Precio}}</td>
            <td>{{fra.Stock}}</td>
        </tr>
        <tr>
            <td><img src="{{bra.image}}" alt="{{bra.Seleccion}}"/></td>
            <td>{{bra.Seleccion}}</td>
            <td>{{bra.Marca}}</td>
            <td>{{bra.Precio}}</td>
            <td>{{bra.Stock}}</td>
        </tr>
    </tbody>
</table>
