<h3>Camisetas</h3>
<table class="table tex-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Seleccion</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let cam of cams" [ngClass] = "{'oferta' : cam.oferta}">
            <td><img width="90" class="img-tumbnail" [src]="cam.image" [alt]="cam.seleccion"/></td>
            <td>{{cam.seleccion}}</td>
            <td>{{cam.marca}}</td>
            <td>{{cam.precio | currency}}</td>
            <td><span class = "badge text-bg-warning" *ngIf="cam.stock == 0"> Agotada</span></td>
            <td>
               <app-input-integer [(cantidad)]= 'cam.cantidad' [max]="cam.stock" *ngIf="cam.stock"></app-input-integer>
            </td>    
        </tr>
       
    </tbody>
</table>
