<h1>Camisetas</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Seleccion</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let cam of cams" [ngClass] = "{'oferta' : cam.oferta}">
            <td><img [src]="cam.image" [alt]="cam.seleccion"/></td>
            <td>{{cam.seleccion}}</td>
            <td>{{cam.marca}}</td>
            <td>{{cam.precio | currency}}</td>
            <td><span class = "badge text-bg-warning" *ngIf="cam.stock == 0"> Agotada</span></td>
        </tr>
       
    </tbody>
</table>
